README.xhtml
t/testlazy-out
out.xhtml
t/test-a.csv
t/test-a.xml
t/examples-csv-to-json.data/
.expansion-*
/website/www/
MYMETA.yml
MYMETA.json
Makefile
Makefile.old
blib/
pm_to_blib
*.tar.gz
website/.ModulePODUrl-cache/

# expansions from meta/tail-expand
.*/
.test.pl

# Backup files from perltidy
*.bak

# t/pod_snippets.t outputs:
.xIO-test-out
